.historico {
    background-color: #D5D5D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/images/Imagem\ ilustrativa\ -\ Historico.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 70px;
}

.titulo-historico {
    text-align: center;
    margin-top: 15px;
    font-weight: 100;
    color: #000000;
}

.texto-descricao-historico {
    text-align: center;
    color: #242424;
    font-size: 18px;
}

.espaco-texto {
    margin-top: 15px;
}

@media screen and (max-width: 415px) {
    .historico {
        background-size: cover;
        padding-top: 54px;
    }

    .titulo-historico {
        font-size: 20px;
    }

    .texto-descricao-historico {
        font-size: 14px;
    }

    .espaco-texto {
        margin-top: 10px;
    }
}