.projetos {
    background-color: #D5D5D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/Imagem\ ilistrativa\ -\ Projetos.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.titulo-projetos {
    font-size: 30px;
    align-self: flex-start;
    margin-left: 400px;
    margin-top: 90px;
    margin-bottom: 70px;
    font-weight: 100;
}

.caixa-projetos {
    display: flex;
    flex-direction: row;
}

.projeto {
    width: 270px;
    height: 270px;
    background-color: #FFFFFF;
    margin-right: 59px;
    margin-left: 59px;
}

.botao-veja-mais {
    margin-top: 70px;
    align-self: flex-end;
    margin-right: 400px;
    width: 156px;
    height: 52px;
    border-style: none;
    border-radius: 26px;
    font-size: 18px;
    color: #F7AE29;
    background-color: #616161;
}
