* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', sans-serif;
    src: url('./fonts/ShareTechMono-Regular.ttf');
  }
  
ul {
    list-style: none;
}
  
a {
    color: #000000;
}
  